* {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

body {
    background: rgb(49, 49, 49);
    color: black;
    font-family: 'Roboto', sans-serif;
    position: relative;

}

canvas {
    display: block;
    /* removes the inline‑element gutter */
    margin: 0 auto;
    /* horizontal centre */
}

#parent {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, .25);
    width: 98vw;
    margin: 0 auto;
    padding-bottom: 10px;
    /* Add oveflow auto to container */
    overflow: auto;
}

div:hover {
    cursor: pointer;
}

/*** BUTTON ****/
#Button {
    padding: 5px;
    background-color: rgb(158, 153, 163);
    width: max-content;
    margin-left: 1vw;
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px;

}

#bubbleButton:hover {
    color: rgb(158, 153, 163);
    background: white;

}

.bubble {
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 7px;
    position: absolute;

}

#non-interactive-text p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, .75);
    padding: 20px;
    width: 300px;
    height: 200px;
    display: none;
    z-index: 3;
}

#id {}

/* style for main dialogue text */
#dialogueText p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, .75);
    padding: 20px;
    width: 300px;
    height: 200px;
    display: none;
    z-index: 3;
}